body {
  overflow: hidden;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
}

#bar {
  background: #2E3440;
  color: #fff;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
}

.edge-left,
.edge-right {
  writing-mode: tb-rl;
}

.edge-left {
  transform: rotate(180deg);
}

.widget-container {
  flex-direction: row;
}

.edge-top .widgets-container,
.edge-bottom .widgets-container {
  width: 33.333%;
}

.edge-left .widgets-container,
.edge-right .widgets-container {
  height: 33.333%;
  writing-mode: vertical-lr;
}



.bar-left {
  text-align: left;
}
.bar-middle {
  text-align: center;
}
.bar-right {
  text-align: right;
}

.widget-container {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  background: red;
}

.widget {
  margin: 5px;
  user-select: none;
}

.separator {
  color: cadetblue;
}

#CustomWidget {
  &.error {
    color: red;
  }
}
