.workspace-btn {
    color: #9d9d9d;
    background-color: transparent;
    border: none;

    &.empty {
        color: #9d9d9d;
    }

    &.active {
        color: #e4e4e4;
    }

    &:hover {
        color: #ffffff;
        cursor: pointer;
    }
}
