<div class="widget">
    <div *ngIf="state" (wheel)="onMouseWheel($event)">
        <button
            *ngFor="let workspace of workspaces; index as wsIndex"
            class="workspace-btn"
            [ngClass]="{ active: wsIndex === activeWsIndex }"
            (click)="focusWorkspace(wsIndex)"
            [title]="useLabels ? 'Workspace ' + (zeroIndex ? wsIndex : wsIndex + 1) : workspace.name"
        >
            {{ useLabels ? workspace.name : zeroIndex ? wsIndex : wsIndex + 1 }}
        </button>
    </div>
    <span *ngIf="!state">komorebi offline</span>
</div>
