<div class="bar" [ngClass]="[edgeClass, barLabel ?? '']">
    <div class="widgets-container bar-left">
        <ng-container *ngFor="let widget of barWidgets.left">
            <ng-template
                [ngComponentOutlet]="getWidgetComponent(widget)"
                [ngComponentOutletInjector]="$any(widget).injector"
            ></ng-template>
        </ng-container>
    </div>

    <div class="widgets-container bar-middle">
        <ng-container *ngFor="let widget of barWidgets.middle">
            <ng-template
                [ngComponentOutlet]="getWidgetComponent(widget)"
                [ngComponentOutletInjector]="$any(widget).injector"
            ></ng-template>
        </ng-container>
    </div>

    <div class="widgets-container bar-right">
        <ng-container *ngFor="let widget of barWidgets.right">
            <ng-template
                [ngComponentOutlet]="getWidgetComponent(widget)"
                [ngComponentOutletInjector]="$any(widget).injector"
            ></ng-template>
        </ng-container>
    </div>
</div>
